@import url('https://fonts.googleapis.com/css?family=Poppins');

html{
  font-size: 62.5%;
}

body{
  background-color: #FBF0D9;
  color:#5F4B32;
  font-family: 'Poppins';
  font-size: 1.6rem;
  margin : 0.5rem 4vw;
}

@media (min-width: 1366px){
  body{
    margin: 0.5rem 12rem;
  }
}

/* @media (min-width: 1366px){
  body{
    font-size: 1.2rem;
  }
} */

.header-flex{
  display: flex;
  align-items: flex-end;
  justify-content:  flex-end;
  text-transform: uppercase;
}

.profile-pic{
  width: 15rem;
  margin-right: 1rem;
}

hr{
  background-color: green;
  height: 0.2rem;
}

h2{
  background-color: #654321;
  color: white;
  text-transform: uppercase;
  padding-left: 0.8rem;
}

.book-pictures{
  width: 15rem;
  margin-right: 1rem;
}

.book-pictures:hover{
  border:2px solid rgb(49, 49, 204);
}

.image-div{
  text-align: center;
}

.photography-pictures{
  width: 30rem;
  margin: 2rem 1rem;
  transition: transform .4s;
  box-shadow: 0 0 5rem 0.5rem #000000ab; ;
  
}

.photography-pictures:hover{
  transform: scale(1.2);
}


blockquote{
  text-align: center;
}

a:hover{
  font-weight: bold;
  text-shadow: 0 0 3px #FF0000;
}






 
